@import url("https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Roobert Light";
  src: url(/fonts/RoobertLight.otf);
}

@font-face {
  font-family: "Roobert Semibold";
  src: url(/fonts/RoobertSemiBold.otf);
}

@font-face {
  font-family: "Roobert Medium";
  src: url(/fonts/RoobertMedium.otf);
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-dark: #171717;
  --color-brand: #9346ed;
  --color-graylight: #747474;
  --color-flink: #118178;
  --animate-scrolling: scrolling 40s linear infinite;
}

.font-logo {
  font-family: "Delius Swash Caps", cursive;
}
body {
  background-color: black;
}
p {
  font-family: "Roobert Light";
}
.font-title {
  font-family: "Roobert Semibold";
}

.font-subtitle {
  font-family: "Roobert Medium";
}

.denik {
  background-image: url("/projects/denik1.png");
}

.denik:hover {
  cursor: pointer;
  /* background-image: url("/projects/denik2.png"); */
}

@keyframes scrolling {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.family-oswald {
  font-family: "Oswald", serif;
}

.family-lato {
  font-family: "Lato", serif;
}
html,
body {
  /* @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } */
}
